* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #0B2434;
    padding: 20px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-color: #F5F5F5;
    height: 400px;
    max-width: 800px;
    border-radius: 5px
}

.die{
    background-color: white;
    height: 50px;
    width: 50px;
    color: black;
    box-shadow: 0px 4px 4px rgba(11, 36, 52,.25);
    border-radius: 10px; 
    text-align: center;
    padding: 12.5px;
    font-weight: bolder;
    font-size: larger;
}

.die-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    margin-bottom: 1em;
}

.roll-button{
    padding: 1em 2em 1em 2em;
    color: white;
    background-color: #5035FF;
    font-size: larger;
    font-weight: bold;
    border-radius: .5em;
    border: none;
    cursor: pointer;
    border: 3px solid #5035FF;
}

.roll-button:hover {
    border: 3px solid black;
}

.roll-button:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}